body{
    font-family: 'Signika', sans-serif;
}
h1{
    font-size: 40px;
}
.name-highlight{
    color: rgb(255, 60, 0);
}
.bpart{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.bpart img{
    margin-top: 5%;
    width:80%;
}